@import url(./styles/header.css);
@import url(./styles/carrossel.css);
@import url(./styles/recomendacoes.css);
@import url(./styles/footer.css);

/* VARIAVEIS */
:root{
    /* COR */
    --background-principal:#D9D9D9;
    --font-principal: font-family: 'Rubik';
    --dark-blue:#01161E;
    --branco:#fff;
    --azul-bebe:#BDE0FE;
    --rosa:#FFAFCC;
    --azul:#598392;
    /* FONT */
}
body {
    background-color: var(--background-principal);
    font-size: 16px;
    font-weight: 400;
  }