.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 0 0;
}
.carrossel__container {
  width: 70%;
}
.swiper-slide img {
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-scrollbar {
  display: none;
}
.swiper {
  position: relative;
}
.swiper-pagination {
  position: relative;
  display: block;
  margin: 10px 0 0 0;
}
/*############__________480px______________########################## */
@media screen and (max-width: 480px){
    .swiper-slide img {
        width: 100%;
    }
    .carrossel__container {
        width: 90%;
      }
}
