.rodape {
  background-color: var(--dark-blue);
  margin-top: 4em;
  padding-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.rodape__contato {
  color: var(--branco);
  font-family: "Rubik";
  font-size: 12px;
  margin-bottom: 2em;
  border-bottom: 3px solid var(--rosa);
  display: inline-block;
}
.rodape__lista-item {
  font-size: 12px;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
}
.lista__item-link {
  font-family: "Rubik";
  color: var(--branco);
  text-decoration: none;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 48%;
  position: relative;
  height: 0;
  display: block;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 60%;
  width: 70%;
  position: absolute;
}
.rodape__container {
  margin: 0 auto;
}
.rodape__lista-item > img {
  width: 16px;
}
.dev__web {
  display: flex;
  color: var(--branco);
  font-family: "Rubik";
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 390px) {
  .rodape {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 48%;
    position: relative;
    left: 20%;
    height: 0;
    width: 80%;
    display: block;
  }
  .rodape__lista {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
  }
}
