.cabecalho {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
font-size: 14px;
}
.cabecalho__titulo {
  color: var(--azul-bebe);
  font-weight: 700;
  font-size: 25px;
  display: block;
}
.nome-rosa {
  font-family: "Rubik";
  color: var(--rosa);
  display: flex;
}
.nome-azul {
  font-family: var(--font-principal);
  color: var(--azul-bebe);
  display: block;
}
.cabecalho__menu {
  display: flex;
  padding: 1.5em;
  gap: 1em;
  margin: 0 1.5em;
  align-items: center;
}
.cabecalho__item {
  color: var(--branco);
  text-decoration: none;
  padding: 1em 1em;
  font-weight: 700;
  font-size: normal;
  font-family: "Rubik";
  border-radius: 20px;
}
.info__usuario {
  display: flex;
  gap: 1em;
  padding: 0.5em 2em;
  align-items: center;
}
.info__usuario-nome .info__usuario-nome-item {
  font-weight: 700;
  font-size: normal;
  font-family: "Rubik";
  color: var(--branco);
  border-bottom: 5px solid var(--rosa);
  padding: 0 0.3em;
  text-decoration: none;
}
.cabecalho__item:hover {
  color: var(--rosa);
}
.container__botao {
  display: none;
}
.menu__hamburguer-lista {
  display: none;
}

/* ############__________480px______________########################## */
@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }
  .cabecalho__logo {
    display: none;
  }
  .cabecalho__titulo {
    font-size: 2em;
  }
  .cabecalho {

  }
  .cabecalho__menu {
    display: none;
  }
  .info__usuario {
    display: none;
  }
  .menu__hamburguer {
    background-image: url(../src/img/Menu\ Aberto.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .menu__hamburguer-lista {
    display: none;
    position: absolute;
    background-color: var(--branco);
    padding: 1em;
    z-index: 2;

  }
  /* faz aparecer a lista quando clica no menu hamburguer */
  .container__botao:checked ~ .menu__hamburguer-lista {
    display: block;
    top: 100%;
    right: 0%;
    width: 30VW;
  }
  .cabecalho {
    position: relative;
  }
  .hamburguer-lista__link{
    font-family: "Rubik";
    text-decoration: none;
    font-size: 1em;
    color: var(--branco);
    padding:.5em 1em;
    display:block;
    width: 90px;
  }
  .menu__hamburguer-lista{
    background-color: var(--dark-blue);
    padding:2em
  }
  .menu__hamburguer-lista li + li{
    padding-top: .5em;
  }
}
/* ############__________480px______________########################## */
@media screen and (max-width: 1000px){
    body{
        max-width: 1000px;
    }
    .cabecalho{
        padding: 1em 1em;
    }
    .cabecalho__lista{
        display: flex;
    }
    .cabecalho__menu{
        padding: 0.5em;
    }
    .info__usuario {
        flex-direction: column-reverse;
        padding: 0.5em 2em;
        align-items: center;
      }
}
/* ############__________480px______________########################## */
@media screen and (max-width: 610px){
    body{
        max-width: 610px;
    }
    .nome-rosa{
        flex-wrap: wrap;
    }
}