.cabecalho {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabecalho__titulo {
  color: var(--azul-bebe);
  font-weight: 700;
  font-size: 25px;
  display: block;
}
.nome-rosa {
  font-family: "Rubik";
  color: var(--rosa);
}
.nome-azul {
  font-family: var(--font-principal);
  color: var(--azul-bebe);
  display: block;
}
.cabecalho__menu {
  display: flex;
  padding: 1.5em;
  gap: 1em;
  margin: 0 1.5em;
  align-items: center;
}
.cabecalho__item {
  color: var(--branco);
  text-decoration: none;
  padding: 1em 1em;
  font-weight: 700;
  font-size: normal;
  font-family: "Rubik";
  border-radius: 20px;
}
.info__usuario {
  display: flex;
  gap: 1em;
  padding: 0.5em 2em;
  align-items: center;
}
.info__usuario-nome .info__usuario-nome-item {
  font-weight: 700;
  font-size: normal;
  font-family: "Rubik";
  color: var(--branco);
  border-bottom: 5px solid var(--rosa);
  padding: 0 0.3em;
  text-decoration: none;
}
.cabecalho__item:hover {
  color: var(--rosa);
}
.container__botao {
  display: none;
}

@media screen and (max-width: 390px) {
  .cabecalho {
    position: relative;
  }
  .container > .cabecalho__logo {
    display: none;
  }
  .cabecalho__menu {
    display: none;
  }
  .info__usuario {
    display: none;
  }
  .menu__hamburguer {
    background-image: url(../src/img/Menu\ Aberto.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .menu__hamburguer-lista {
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 2;
  }
  /* "CONDICIONAL CSS" */
  .container__botao:checked ~ .menu__hamburguer-lista {
    display: block;
  }
  .menu__hamburguer-lista {
    background-color: var(--dark-blue);
    width: 100%;
    height: 20vh;
    padding-bottom: 1em;
  }
  .hamburguer-lista__link {
    font-family: "Rubik";
    color: var(--branco);
    font-size: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
  }
  .hamburguer-lista__item {
    margin: 2em;
  }
}
