.recomendacoes__titulo {
  font-family: "rubik";
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin: 1em 0;
}
.recomendacoes__lista {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap:1em;
}
.lista__link {
  display: flex;
  font-family: "Rubik";
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: var(--azul);
  background-color: transparent;
  display: block;
  width: 190px;
  border-radius: 20px;
  padding: 0.2em 0;
  border: 1px solid var(--azul);
  text-align: center;
}
.recomendacoes__lista li + li {
  margin-left: 1em;
}
.lista__item > a:hover {
  background-color: var(--azul);
  color: var(--branco);
}
.recomendacoes__galeria {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 3em 0;
}
.recomendacoes__galeria img:hover {
  /* transform: translate(5px, 12px); */
  transform: scale(1.03);
  margin-left: 0;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}
.imagem__galeria-link,
.imagem__galeria {
  width: 200px;
}
/* ############__________480px______________########################## */
@media screen and (max-width: 480px) {
  .recomendacoes__titulo {
    font-size: 20px;
  }
  .recomendacoes__lista {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .recomendacoes__lista li + li {
    margin: 0;
  }
  .lista__link {
    font-size: 12px;
    width: 80px;
  }
  .imagem__galeria-link,
  .imagem__galeria {
    width: 100px;
  }
  .recomendacoes__galeria {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }
  /* ############__________1000px______________########################## */
  @media screen and (max-width: 1000px) {
    body {
      max-width: 1000px;
    }
    .recomendacoes__titulo{
        display: flex;
        flex-wrap: wrap;
    }
  }
  .lista__link{
    display: flex;
    flex-wrap: wrap;
  }
}

  /* ############__________580px______________########################## */
  @media screen and (max-width: 580px) {
    body {
      max-width: 580px;
    }
    .recomendacoes__galeria{
        display: flex;
        flex-wrap: wrap;
    }
    .lista__link{
        display:block;
        text-align:center
      }
      .recomendacoes__titulo{
        justify-content: center;
      }
      .recomendacoes__lista{
        gap: 0.5em;
        justify-content: center;
      }
}